.neumorph {
  border-radius: 20px;
background: #c5e490;
box-shadow:  20px 20px 60px #a7c27a,
             -20px -20px 60px #e3ffa6;
}
.neumorph_faculty {
  border-radius: 20px;
background: #C1DEAE;
box-shadow:  20px 20px 60px #a4bd94,
             -20px -20px 60px #deffc8;
}

.background {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.bgGlass{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}