.neumorph {
  border-radius: 20px;
background: #c5e490;
box-shadow:  20px 20px 60px #a7c27a,
             -20px -20px 60px #e3ffa6;
}
.neumorph_faculty {
  border-radius: 23px;
  background: #357ede;
  box-shadow:  20px 20px 60px #2d6bbd,
               -20px -20px 60px #3d91ff;
}

.background {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}
